/* contenedor principal de la seccion */
.contacto {
    height: 100vh;
    position: relative;
}

/* titulo, contenido y link */
.contacto h3,
.cont-contacto,
.cont-contacto a {
    color: #fff;
}

/* titulo */
.contacto h3 {
    text-align: center;
    font-size: 3rem;
}

/* contenedor */
.cont-contacto {
    text-align: center;
}

/* icono linkedin */
.cont-contacto ion-icon {
    font-size: 50px;
}

.cont-contacto ion-icon:hover {
    color: #818181;
}

.cont-contacto p:nth-child(2) {
    display: flex;
    justify-content: center;
}

/* contenedor texto fondo */
.cont-contenedor {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

/* texto de fondo de la seccion */
.cont-contenedor span {
    font-size: 10em;
    position: relative;
    font-weight: 700;
    opacity: 0.1;
    user-select: none;
    z-index: -1;
}