/* contenedor principal de la seccion */
.experiencia {
  position: relative;
  cursor: default;
  height: auto;
}

/* titulo */
.experiencia h3 {
  text-align: center;
  font-size: 3rem;
  color: #fff;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  margin: 0rem 2rem 0rem 2rem;
}

.cont_exp {
  width: 75%;
}

/* items */
.caja_dos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}

/* texto de fondo de seccion */
.exp-contenedor span {
  color: violet;
  font-size: 10em;
  position: relative;
  font-weight: 700;
  /* opacity: 0.1; */
  z-index: -1;
}

/* contenedor texto fondo */
.exp-contenedor {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .experiencia {
    height: auto;
  }

  /* items */
  .caja_dos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    margin: 0rem 0rem 0rem 0rem;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .caja_dos {
    height: auto;
  }
}

@media (max-width: 1300px) {
  .cont_exp {
    width: 95%;
  }
}