/* links sacados de Google Fonts usados para el tipo de letra en la pagina */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans&display=swap");

/* propiedad que permite un movimiento de transicion suave al 
  navegar entre las opciones del menu*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #3d4152;
  /* posible color de fondo a cambiar */
  /* background: #1a1d29; */
  padding: 0;
  margin: 0;
  width: auto;
  overflow-x: hidden;
}

/* contenido de la pagina 1*/
#main {
  transition: margin-left 0.5s;
  padding: 0rem 0rem 0rem 6rem;
  margin-right: 1rem;
}

/* --------------- scrollbar -------------------- */
/* los cambios solo se reflejan en estos mavegadores:*/
/* Chrome, Opera, Edge */
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}

/* ----------------- fin scrollbar -----------------*/

/* el menu secundario se oculta de manera predefinida cuando no se esta en 
  una tamaño de pantalla mas reducido */
.wrapper {
  display: none;
}

@media (max-width: 767px) {

  /* contenido de la pagina 1*/
  #main {
    transition: margin-left 0.5s;
    padding: 0rem 1rem 0rem 1rem;
    margin-right: 0rem;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {

  /* titulo caja */
  .caja h2 {
    text-align: center;
  }

  /* contenido de la pagina 1*/
  #main {
    transition: margin-left 0.5s;
    padding: 0rem 2rem 0rem 1rem;
    margin-right: 0rem;
  }
}