/* contenedor principal de la seccion */
.proyectos {
    /* para controlar que los elementos no se salgan de su contenedor al reducirse el tamaño de la pantalla
     lo que haremos sera usar media querys y al llegar al limite en el que se salen los elementos de la caja
     usar la propiedad height: 100vh auto; */
    /* height: auto; */
    position: relative;
    cursor: default;
}

/* titulo */
.proyectos h3 {
    font-size: 3rem;
    color: #fff;
}

/* contenedor */
.cont-pro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem 0rem 2rem 0rem;
    z-index: 1;
}

/* items */
.caja-pro {
    background: rgb(18, 21, 62);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 16rem;
    transition: 0.3s;
}

.caja-pro img {
    width: 100%;
    height: 100%;
}

.caja-pro a {
    display: block;
    height: 100%;
}

.caja-pro label {
    color: #ffff;
}

/* contenedor texto fondo */
.pro-contenedor {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    top: 0;
}

/* texto de fondo de la seccion */
.pro-contenedor span {
    font-size: 10em;
    position: relative;
    font-weight: 700;
    opacity: 0.1;
    user-select: none;
    z-index: -1;
}

/* hover para los items */
.cont-pro:hover> :not(:hover) {
    opacity: 0.4;
}

@media (max-width: 767px) {
    .cont-pro {
        height: auto;
    }
}

@media (max-width: 1103px) {
    .pro-contenedor {
        top: 24em;
    }

    .pro-contenedor span {
        color: violet;
        font-size: 10em;
        position: relative;
        font-weight: 700;
        z-index: -1;
    }
}